
/* h2 Reset */
.editor-styles-wrapper h2 {
   /* Left Blank as a reminder */}

/*  1) H2 ****/

h2.is-style-h2-background {
	margin: 2rem 0;
	padding: .313rem 1rem;

	background-color: #8475AC;
	border: 1px solid #534266; 
	box-shadow:  5px 10px #8667af73;
	color: #fff!important;

	letter-spacing: normal;
	line-height: normal;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
